.dy-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        padding: 6px 0;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: var(--dy-control-grey-100);
    }

    &::-webkit-scrollbar-thumb {
        height: 40px;
        border-radius: 4px;
        background-clip: content-box;
        background-color: var(--dy-control-grey-300);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--dy-control-grey-300);
    }
}
